.header {
  background: #eee;
  padding: 1rem;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

.header__link {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

.header__link.active {
  font-weight: 700;
  color: #646cff;
}
